<% downgrade = params[:downgrade] %>


<%= form_for @user, :html => {:class => "form-inline"} do |f|  %>
  <%= render 'shared/error_messages', object: f.object %>
  <% if downgrade == nil %>
    <div class="control-group">
      <%= f.label :name, :class => "control-label" %>
      <%= f.text_field :name, :value => "Kenny Smith" %>
    </div>

    <div class="control-group">
      <%= f.label :email, :class => "control-label" %>
      <%= f.text_field :email, :value => "Ken.edsmith@gmail.com" %>
    </div>

    <div class="control-group">
      <%= f.label :password, :class => "control-label" %>
      <%= f.password_field :password, :value => "qwerty" %>
    </div>

    <div class="control-group">
      <%= f.label :password_confirmation, "Confirmation", :class => "control-label" %>
      <%= f.password_field :password_confirmation, :value => "qwerty" %>
    </div>

    <div class="control-group">

    </div>
  <% end %>
  <br/><br/>
  <% plan_id = params[:plan_id] || params[:user][:plan_id] %>
  <%= f.hidden_field :plan_id, :value => plan_id %>

  <%= fields_for(@payment ||= Payment.new) do |p| %>
    <%= p.hidden_field :stripe_token %>
    <%= p.hidden_field :last_4_digits %>
    <%= p.hidden_field :card_exp_month %>
    <%= p.hidden_field :card_exp_year %>
    <%= p.hidden_field :card_type %>

    <h3 class="two">Your payment information</h3>
    <div id="credit-card">
      <div id="credit-card-errors" style="display: none">
        <div id="stripe-error-message" class="alert-message block-message error"></div>
      </div>
      <div class="control-group">
        <%= label_tag :credit_card_number, "Card Number ", :class => "control-label" %>
        <%= text_field_tag :credit_card_number, params[:credit_card_number], :value => "4242424242424242", :disabled => true %>
      </div>
      <div class="control-group">
        <%= label_tag :cvv, "Security Code (CVV)", :class => "control-label" %>
        <%= text_field_tag :cvv, params[:cvv], :value => "123", :disabled => true %>
      </div>
      <div class="control-group">
        <%= label_tag :expiry_date, "Card Expiration", :class => "control-label" %>
        <%= date_select "", :expiry_date, {:discard_day => true, :order => [:month, :year], :use_month_numbers => true, :start_year => Date.today.year, :end_year => Date.today.year + 25, :disabled => true}, {:class => 'small'} %>
      </div>
    <% end %>

    <div class="control-group">
  <%#= link_to_add_fields "Subscriptions", f, :subscriptions %>
    </div>
    <%= f.submit "Create my account", class: "btn btn-large btn-primary", id: "submitacct" %>
      <div class="processing">
        <%= image_tag('white_spinner.gif') %>
      </div>
    </div>
  <% end %>
