<% provide(:title, "Edit user") %> 

<div class="GreenBlueBG">
<div style="width:1200px; margin:0 auto;">
<div class="row">
  <div class="span7 offset4">
    <h1>Update your profile</h1>
  <%= form_for @user, :html => { :class => "form-inline" } do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="control-group">
        <%= f.label :name, :class => "control-label" %> 
        <%= f.text_field :name %> 
      </div>    

      <div class="control-group">  
        <%= f.label :email, :class => "control-label" %> 
        <%= f.text_field :email %>
      </div>
        
      <div class="control-group">  
        <%= f.label :password, :class => "control-label" %> 
        <%= f.password_field :password %>
      </div>  

      <div class="control-group">  
        <%= f.label :password_confirmation, "Confirm Password", :class => "control-label" %> 
        <%= f.password_field :password_confirmation %>
      </div>  

      <%= f.submit "Save changes", class: "btn btn-large btn-primary", id: "submitacct" %>
    <% end %>
  </div>
</div>