<% provide(:title, "Edit user") %> 
<% pid = @user.plan_id %>
<% plan_object = Plan.find(pid) %>

<%= pid %>
<div class="GreenBlueBG">
<div style="width:1200px; margin:0 auto;">
<div class="row">
  <div class="span7 offset4">
    <h1>Update your profile</h1>
  <%= form_for @user, :html => { :class => "form-inline" } do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="control-group">
        <%= f.label :name, :class => "control-label" %> 
        <%= f.text_field :name %> 
      </div>    

      <div class="control-group">  
        <%= f.label :email, :class => "control-label" %> 
        <%= f.text_field :email %>
      </div>
        
      <div class="control-group">  
        <%= f.label :password, :class => "control-label" %> 
        <%= f.password_field :password %>
      </div>  

      <div class="control-group">  
        <%= f.label :password_confirmation, "Confirm Password", :class => "control-label" %> 
        <%= f.password_field :password_confirmation %>
      </div>  
    <%= f.submit "Save changes", class: "btn btn-large btn-primary", id: "submitacct" %>
  <% end %>
      <h3 class="two">Plan Info</h3>
      <p>You are currently subscribed to the <%= plan_object.name %> plan, which gives you <%= pluralize(plan_object.kisses, 'event') %> to post this month.</p>
      <% if pid == "1" %>
      <p>If you'd like to send more events this month, please select from the following options:
      <div class="control-group">
        <%= link_to "Upgrade my plan ->", plansandpricing_path(:plan_id => pid), 
                                class: "btn btn-large btn-success btn-home", id: "nomarg" %>
            </div>
      <% else %>
      <div class="control-group">
        <%= link_to "Downgrade my plan ->", downgrade_confirm_path, 
                                class: "btn btn-large btn-danger btn-home", id: "nomarg" %>
      </div>
      <% end %>
      
      

  </div>
</div>