<% provide(:title, 'Sign up') %>
<% upgradetype = params[:upgradetype] %>


<div id="GraydientBackground">
<div style="width:1200px; margin:0 auto;">
<div class="row">
  <div class="span7 offset4">
    
    <h1>Selected Plan: <strong><%= @plan.name %></strong></h1>
    <p>You're signing up for the <%= @plan.name %> plan, which will allow you to send <%= @plan.kisses %> events every month!  You will be billed $<%= @plan.price %>0 on a monthly basis.</p>
    <%= render 'form' %>
  </div>
</div>
</div>
</div>