<div class="GreenBlueBG">
	<div style="width:1200px; margin:0 auto;">
		<div class="row">
  			<div class="span7 offset4">

  		
				<%= @event.name %><br />
				<%= @event.startdate %> <%= @event.starttime %>
				<%= @event.enddate %> <%= @event.endtime %>
		
			</div>
		</div>
	</div>
</div>