<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @payment.user_id %>
</p>

<p>
  <b>Stripe:</b>
  <%= @payment.stripe_id %>
</p>

<p>
  <b>Last 4 digits:</b>
  <%= @payment.last_4_digits %>
</p>

<p>
  <b>Card expiry date:</b>
  <%= @payment.card_expiry_date %>
</p>

<p>
  <b>Card type:</b>
  <%= @payment.card_type %>
</p>


<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
