<%= form_for(@sendevent) do |f| %>
  <% if @sendevent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sendevent.errors.count, "error") %> prohibited this sendevent from being saved:</h2>

      <ul>
      <% @sendevent.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_name %><br />
    <%= f.text_field :event_name %>
  </div>
  <div class="field">
    <%= f.label :event_start_month %><br />
    <%= f.text_field :event_start_month %>
  </div>
  <div class="field">
    <%= f.label :event_start_day %><br />
    <%= f.text_field :event_start_day %>
  </div>
  <div class="field">
    <%= f.label :event_end_month %><br />
    <%= f.text_field :event_end_month %>
  </div>
  <div class="field">
    <%= f.label :event_end_day %><br />
    <%= f.text_field :event_end_day %>
  </div>
  <div class="field">
    <%= f.label :event_end_year %><br />
    <%= f.text_field :event_end_year %>
  </div>
  <div class="field">
    <%= f.label :event_start_hour %><br />
    <%= f.text_field :event_start_hour %>
  </div>
  <div class="field">
    <%= f.label :event_start_minute %><br />
    <%= f.text_field :event_start_minute %>
  </div>
  <div class="field">
    <%= f.label :event_start_ampm %><br />
    <%= f.text_field :event_start_ampm %>
  </div>
  <div class="field">
    <%= f.label :event_end_hour %><br />
    <%= f.text_field :event_end_hour %>
  </div>
  <div class="field">
    <%= f.label :event_end_minute %><br />
    <%= f.text_field :event_end_minute %>
  </div>
  <div class="field">
    <%= f.label :event_end_ampm %><br />
    <%= f.text_field :event_end_ampm %>
  </div>
  <div class="field">
    <%= f.label :event_description %><br />
    <%= f.text_area :event_description %>
  </div>
  <div class="field">
    <%= f.label :event_location_name %><br />
    <%= f.text_field :event_location_name %>
  </div>
  <div class="field">
    <%= f.label :event_location_address %><br />
    <%= f.text_field :event_location_address %>
  </div>
  <div class="field">
    <%= f.label :event_location_city %><br />
    <%= f.text_field :event_location_city %>
  </div>
  <div class="field">
    <%= f.label :event_location_state %><br />
    <%= f.text_field :event_location_state %>
  </div>
  <div class="field">
    <%= f.label :event_location_zip %><br />
    <%= f.text_field :event_location_zip %>
  </div>
  <div class="field">
    <%= f.label :event_website %><br />
    <%= f.text_field :event_website %>
  </div>
  <div class="field">
    <%= f.label :event_cost %><br />
    <%= f.text_field :event_cost %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
