<p id="notice"><%= notice %></p>

<p>
  <b>Event name:</b>
  <%= @sendevent.event_name %>
</p>

<p>
  <b>Event start month:</b>
  <%= @sendevent.event_start_month %>
</p>

<p>
  <b>Event start day:</b>
  <%= @sendevent.event_start_day %>
</p>

<p>
  <b>Event end month:</b>
  <%= @sendevent.event_end_month %>
</p>

<p>
  <b>Event end day:</b>
  <%= @sendevent.event_end_day %>
</p>

<p>
  <b>Event end year:</b>
  <%= @sendevent.event_end_year %>
</p>

<p>
  <b>Event start hour:</b>
  <%= @sendevent.event_start_hour %>
</p>

<p>
  <b>Event start minute:</b>
  <%= @sendevent.event_start_minute %>
</p>

<p>
  <b>Event start ampm:</b>
  <%= @sendevent.event_start_ampm %>
</p>

<p>
  <b>Event end hour:</b>
  <%= @sendevent.event_end_hour %>
</p>

<p>
  <b>Event end minute:</b>
  <%= @sendevent.event_end_minute %>
</p>

<p>
  <b>Event end ampm:</b>
  <%= @sendevent.event_end_ampm %>
</p>

<p>
  <b>Event description:</b>
  <%= @sendevent.event_description %>
</p>

<p>
  <b>Event location name:</b>
  <%= @sendevent.event_location_name %>
</p>

<p>
  <b>Event location address:</b>
  <%= @sendevent.event_location_address %>
</p>

<p>
  <b>Event location city:</b>
  <%= @sendevent.event_location_city %>
</p>

<p>
  <b>Event location state:</b>
  <%= @sendevent.event_location_state %>
</p>

<p>
  <b>Event location zip:</b>
  <%= @sendevent.event_location_zip %>
</p>

<p>
  <b>Event website:</b>
  <%= @sendevent.event_website %>
</p>

<p>
  <b>Event cost:</b>
  <%= @sendevent.event_cost %>
</p>

<p>
  <b>First name:</b>
  <%= @sendevent.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @sendevent.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @sendevent.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @sendevent.phone %>
</p>


<%= link_to 'Edit', edit_sendevent_path(@sendevent) %> |
<%= link_to 'Back', sendevents_path %>
